<div class="row text-center">
    <div class="container">
        <h2 class="section-subheading text-muted">Hello <strong>{{ main.username || "user" }}, </strong> Welcome to MediTravel.</h2>
        <p>With several hours devoted to treatment every month, Dialysis patients deserve not just the best care, but a comforting environment as well. Introducing MediTravel, a state-of-the-art Dialysis and Renal Care Facility providing World Class Dialysis in Singapore for the past 18 months. MediTravel aims to open multiple centers across the region to provide world class renal care, allowing patients to access dialysis therapy close to their homes which is cost effective.</p>
    </div>
</div>
