
<!DOCTYPE html>
<html>
<head>
		<script src="app/controllers/appointmentCtrl.js"></script>
<title>Disease Recordig</title>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.min.css" />
<script>
	function test()
	{
		alert('test');
	}
</script>

<style type="text/css">
			body{
				font-family: verdana;
			}
			#result{
				height: 200px;
				border: 1px solid #ccc;
				padding: 10px;
				box-shadow: 0 0 10px 0 #bbb;
				margin-bottom: 30px;
				font-size: 14px;
				line-height: 25px;
			}
			button{
				font-size: 20px;
				position: absolute;
				top: 240px;
				left: 50%;
			}
		</style>

<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/4f936b58/cloudflare-static/rocket-loader.min.js" data-cf-nonce="728f3c02d5e5992fabe024c7-" defer=""></script></body>
	
</head>
<body>
<div id="result"></div>




<div class="container"></div>
	<div class="row">
	  <div class="col-sm-6">
		  
<button ng-click="startConverting()">Listen</button>

	  </div>
	  <div class="col-sm-6">
			<button ng-click="analyseData()">Please analyse</button>
	  </div>
	</div>
  </div>

</html>