<html>
    <body>
            <link rel="stylesheet" type="text/css" href="assests/css/style1.css">
            <div class="page-header">
                <h1>Hello {{ main.username }} from about route.</h1>
                <a href="#!"><img class="logo" src="/assests/images/c.jpg" /></a>
            </div>
            <div style="width:100%">
                    <div class="paddRow aboutRow">
                        <div class="wrap">
                            <div class="head">About Us</div>
                            <p>Who We Are
                            <br>
                            A specialized center with a strong focus on Hemodialysis, MediTravel aims to cover all areas of Nephrology in the future. <br>
                            With a goal to build many such centers across the region and in many countries we will be bringing Hemodialysis, Peritoneal Dialysis and Vascular Surgery one step closer to all patients. <br>
                            Our experienced core team of Nephrologists, Technicians and Nurses have been doing dialysis in Singapre.
                            </p>
                        </div>
                    </div>
                
                    <section>
                            <div style="background-color:#f5f5f5">
                                    <div class="wrap about">
                                            <div class="txt flLeft">
                                                <h2 class="subHead">Our Vision</h2>
                                                <p>"To be amongst the most admired Global healthcare companies."</p>
                                            </div>
                                                <a href="#!"><img class="logo" src="/assests/images/b.jpg" /></a>
                                                <h2 class="subHead">Our Mission</h2>
                                                <p> ·   Achieve 100% customer satisfaction by focusing on Quality, Affordability and delivering value through our products and services.<br>
                                                    ·   Meet and excel high ethical standards in all our processes.<br>
                                                    ·   Satisfaction of employees through Training & Excellence in Corporate Governance.<br>
                                                    ·   Attain shareholder confidence through performance & leadership</p>
                                                
                                            <div style="clear:both"></div>
                    </section>
                
            
                            <div class="paddRow aboutRow">
                                    <h2 class="subHead">Our Values</h2>
                                    <p>Transforming Healthcare Experience of Patients through…<br><br>
                                    <a href="#!"><img class="logo" src="/assests/images/a.jpg" /></a><br>
                                           INTEGRITY:As professionals we will be honest and ethical and provide good healthcare to all.
                                           RESPONSIVENESS:We will be caring and responsive at all times while attending to patients needs.<br>
                                           PATIENT INFORMATION:We will share complete knowledge and information with patients.<br>
                                           RESPECT and COMPASSION:We will treat patients and their families as well as our colleagues with dignity.<br>
                                           EFFICIENCY:We will always make extra efforts to eliminate wastage of resources and patient time.<br>
                                           TEAMWORK:We will always deliver our best with dedication and coordinated efforts of every team member.</p>
                                </div>
                                <div style="clear:both"></div>
                            
                    </div>
                </div>
    </body>

            
    <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <span class="copyright">Copyright © 2018. All Rights Reserved.</span>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline quicklinks">
                            <li><a href="#">Privacy Policy</a>
                            </li>
                            <li><a href="#">Terms of Use</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
</html>